.cards-list {
  display: grid;
  grid-template-columns: repeat(4,1fr) !important;
  grid-gap: 2rem;
  padding: 2rem 0;
  
}
.image-wrapper{
  width: 40%;
  img{
    width: 100%;
  }
}
.card {
  border: 1px solid black;
  padding: 2rem 0;
  display: grid;
  place-items: center;
 
}