.result{
  .user_list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
  }
}
.result_user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 191, 191);
  h2{
    text-align: center;
  }
  span{
    padding: 0.25rem 0;
    i{
      padding-right: 1rem;
    }
  }
  
}
.result_user_image_wrapper{
  width: 30%;
  img{
    width: 100%;
  }
}
.result_user_info{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}